[data-bs-theme="dark"] {
  --bs-navbar-bg: #febd59; /* Preto no modo escuro */
  --bs-navbar-color: #000000; /* Branco no modo escuro */
  .btn {
    --bs-btn-bg:#febd59;
    --bs-btn-border-color: #febd59;
    --bs-btn-hover-bg: #febc59b9;
    --bs-btn-hover-border-color: #febc59b9;
    --bs-btn-active-border-color: #febc59b9;
    --bs-btn-active-bg: #febc59b9;
  };

}

[data-bs-theme="light"] { /* Preto no modo escuro */ /* Branco no modo escuro */
  .btn {
    --bs-btn-bg:#febd59;
    --bs-btn-color: #000000b9;
    --bs-btn-border-color: #febd59;
    --bs-btn-hover-bg: #febc59b9;
    --bs-btn-hover-border-color: #febc59b9;
    --bs-btn-active-border-color: #febc59b9;
    --bs-btn-active-bg: #febc59b9;
    --bs-btn-focus-shadow-rgb: #ff0505b9;
  };

}


