.logo {
  width: 80px;
  height: auto;
}

[data-bs-theme="dark"] {
  --bs-navbar-bg: #febd59; /* Preto no modo escuro */
  --bs-navbar-color: #000000; /* Branco no modo escuro */
  .btn-primary {
    --bs-btn-bg:#febd59;
  };
  .dropdown-menu {
    --bs-dropdown-link-active-bg: #99999980 !important;
  }
}

[data-bs-theme="light"] {
  --bs-navbar-bg: #febd59; /* Preto no modo escuro */
  --bs-navbar-color: #000000; /* Branco no modo escuro */
  .dropdown-menu {
    --bs-dropdown-link-active-bg: #99999980 !important;
  };
}

body {
  font-family: 'Crimson Pro', serif;
}


.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

